.skill-main-container{
    /* border: 1px solid yellow; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 100px;
    width: 25vw;
    height: 40vh;
background: rgb(2,0,36);
background: linear-gradient(312deg, rgba(2,0,36,1) 3%, rgba(5,32,179,1) 50%, rgba(0,212,255,1) 99%);
    margin: 5px;
}

.skill-card-image{
    width: 10vw;
    padding: auto;
    margin-bottom: 2.5vh;
}
.skill-card-text{
    font-size: 3.8vh;
}